
<header class="site-header">

  <div class="site-header__logo">
    <img src="images/1x/logo.png"
         srcset="images/1x/logo.png 1x, images/2x/logo.png 2x"
         width="200" height="123" class="site-header__logo-image"
         alt="Music Mashup logo"/>
  </div>

  <div class="site-header__search">
    <form class="site-header__search-form" name="search"
          ng-submit="searchArtist()">
      <input class="site-header__search-input" type="text" name="query"
             id="query" autocomplete="off" autofocus="true"
             placeholder="Search for an Artist..." ng-model="searchQuery"
             required>
      <input class="site-header__search-button" type="submit" value="Go">
    </form>

    <div class="site-header__alternative-artist" ng-show="results.length > 0">
      <small>
        <strong>Not what you were looking for?
          <span class="link" role="button"
                ng-click="moreResults = ! moreResults"> Did you mean...</span>
        </strong>
      </small>
    </div>

    <div class="alert--error" ng-if="error">
      <p>{{error}}</p>
    </div>
  </div>

</header>
