
<main role="main" ng-show="results.length > 0">
  <section class="more-results" ng-show="moreResults">
    <ol class="more-results__list">
      <li class="more-results__item"
          ng-repeat="result in results" ng-hide="$first">
        <a class="more-results__link">
          <img class="more-results__image" width="32" height="32"
               ng-if="result.thumbnail['1x']"
               ng-src="{{result.thumbnail['1x']}}"
               ng-srcset="{{result.thumbnail['1x']}} 1x,
                          {{result.thumbnail['2x']}} 2x"
               alt="{{result.name}}" title="{{result.name}}">
          <span class="more-results__name">{{result.name}}</span>
        </a>
      </li>
    </ol>
  </section>

  <section class="artist-info">
    <header>
      <h1 class="artist-info__name">{{results[0].name}}</h1>
      <h4 class="artist-info__genre">Rock</h4>
    </header>
    <img class="more-results__image"
         ng-src="{{results[0].thumbnail['1x']}}"
         ng-srcset="{{results[0].thumbnail['1x']}} 1x,
                    {{results[0].thumbnail['2x']}} 2x"
         alt="{{results[0].name}}" title="{{results[0].name}}">
    <p>{{results[0].mbid}}</p>
  </section>
</main>
