/* ArtistBiography */
@import '../../../stylesheets/config/settings.pcss';

.image {
  position: relative;
  margin: 0 auto 1rem auto;

  @media (--med) {
    max-width: calc(50% - 1rem);
    margin: 0 1rem 0 0;
    float: left;
  }
}
