/* ContentBlock */
@import '../../../stylesheets/config/settings.pcss';

.container {
  margin: 0 0 1rem;
}

.header {
  display: block;
  padding: 0.75rem;
  background: var(--color--primary);
  margin-bottom: 0.5rem;
}

.title {
  color: var(--color--secondary);
  margin: 0;
  line-height: 1;
  font-size: 1.25rem;
}

.body {
  padding: 1rem;
  border: 1px dashed var(--color--primary);
  overflow: hidden;
  position: relative;
  min-height: 100px;
}
