/* Alternative */
@import '../../../../stylesheets/config/settings.pcss';

.container {
  width: 100%;
  position: absolute;
  margin: 0 0 2rem;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.list {
  background: var(--color--primary);
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

.item {
  display: inline-flex;
  flex: 0 0 50%;
  border: 0.2em solid var(--color--primary);

  @media (--med) {
    flex: 0 1 25%;
  }
}

