/* ArtistBiography */
@import '../../../../stylesheets/config/settings.pcss';

.container {}

.image {
  position: relative;
  margin: 0 auto 1rem auto;

  @media (--med) {
    float: left;
    margin: 0 1rem 0 0;
    max-width: calc(50% - 1rem);
  }
}

.extract {}
