/* Media Queries */
@custom-media --sml (width >= 320px);
@custom-media --med (width >= 768px);
@custom-media --lrg (width >= 1000px);

:root {
  /* Breakpoints */
  --breakpoint-small: 320px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 1000px;

  /* Colors */
  --color--primary: #000;
  --color--secondary: #fff;
  --color--tertiary: #f00;
  --color-loading: color-mod(var(--color--primary) lightness(25%));
}
